{% extends "frontend/layout.html.twig" %}

{% block title %}{{ parent() }} - {% trans %}Settings{% endtrans %}{% endblock %}
{% block meta_description %}{{ parent() }}{% endblock %}

{% block content %}

    <!-- Mid Container -->
    <div class="mid_content">
        <div class="wrap">
            <div class="inner_form">
                <div class="inner_form_top" style="padding-left: 30px;">
                    <ul style="display: block;">
                        <li class="active"><span class="ftext profileSpan">{% trans %}Settings{% endtrans %}</span></li>
                    </ul>
                    <div class="clr"></div>
                </div>
                <form action="{{ app.request.requesturi }}" method="post" class="pass-change">
                    <div class="inner_form_bot">
                        <div class="main_form">
                            <div class="inline field" style="margin-bottom: 20px;">
                                <div class="ui toggle checkbox">
                                    <input type="checkbox" tabindex="0" {% if app.user.isSentEmail %} checked="checked"{% endif %}class="hidden" name="is_sent_email">
                                    <label>{% trans %}Send me notification on E-mail{% endtrans %}</label>
                                </div>
                            </div>
                            <div class="inline field">
                                <div class="ui toggle checkbox">
                                    <input type="checkbox" tabindex="0" {% if app.user.isSentPush %} checked="checked"{% endif %}class="hidden" name="is_sent_push">
                                    <label>{% trans %}Send me push notification{% endtrans %}</label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <input type="submit" id="save_data" class="hidden">


                </form>
            </div>
        </div>

        <div class="clr"></div><input type="button" value="{% trans %}Save{% endtrans %}" class="right" onclick="$('#save_data').click();" style="margin-top: 15px;">

    </div><!-- midsec end -->

    <script>
        function pageInit(){
            jQuery('.ui.checkbox')
                    .checkbox()
            ;
        }
        jQuery(window).load(function () {
            pageInit();
        });
    </script>
{% endblock %}




    {% block mobile_content %}
        <div class="nymain_mobile">
            <div class="mid_content">

            </div>
        </div>
    {% endblock %}
