<select>
    <option>Choose</option>
    <option value="today">Today</option>
    <option value="week_t">This Week</option>
    <option value="month_t">This Month</option>
    <option value="quarter_t">This Quarter</option>
    <option value="year_t">This Year</option>
    <option value="week_n">Next Week</option>
    <option value="month_n">Next Month</option>
    <option value="quarter_n">Next Quarter</option>
    <option value="year_n">Next Year</option>
    <option value="week_p">Previous Week</option>
    <option value="month_p">Previous Month</option>
    <option value="quarter_p">Previous Quarter</option>
    <option value="year_p">Previous Year</option>
</select>