<div class="left">

    <button class="ui green button sel_all">
        <i class="checkmark icon"></i>
        Select All
    </button>

    <input type="hidden" value="0">

</div>

<div class="divider left"></div>

<div class="left act_text">

    <h4 class="ui header">
        <i class="checkmark box icon"></i>
        <div class="content">
            Actions
            <div class="sub header">With Selected</div>
        </div>
    </h4>

</div>

<div class="divider left"></div>

<div class="left">
    <button class="ui green button approve">
        <i class="thumbs up icon"></i>
        Approve
    </button>
</div>

<div class="divider left"></div>

<div class="left">

    <button class="ui red button delete">
        <i class="thumbs down icon"></i>
        Delete
    </button>

</div>


{#
<div class="divider right"></div>

<div class="right">
    <button class="ui black icon button delete" data-position="top center" data-content="להסיר משתמשים">
        <i class="user icon"></i>
    </button>
</div>
#}




